notebooks/data
notebooks/cifar_net.pth
.ipynb_checkpoints/
__pycache__
model.h5
model.keras
config.py
env/
.env
.db_env
uploads
.python-version
error.log
database
nginx.conf
nginx_logs
backups
backup.sh